---
import { Picture } from "astro:assets";
import viewnext from "../../assets/images/works/viewnext.svg";
import junta_andalucia from "../../assets/images/works/junta_andalucia.svg";
import ec from "../../assets/images/works/european_commission.svg";
import ual from "../../assets/images/edu/ual.png";
import ugr from "../../assets/images/edu/ugr.svg";
---

<div class="experience__exp_edu">
    <div class="exp_edu__title">EXPERIENCE</div>
    <div class="exp_edu__jobs">
        <div class="jobs__jobs_container">
            <div class="jobs_container__title_logo">
                <Picture src={ec} alt="European Comission" class="title_logo__logo" />
                <div class="title_logo__title">EUROPEAN COMMISSION</div>
            </div>
            <div class="jobs_container__desc">
                Worked on XSLT templates for automated document generation and developed Spring Boot backend features in Java. Collaborated in SCRUM-based teams across both projects.
            </div>
        </div>
        <div class="jobs__jobs_container">
            <div class="jobs_container__title_logo">
                <Picture src={viewnext} alt="European Comission" class="title_logo__logo" />
                <div class="title_logo__title">VIEWNEXT</div>
            </div>
            <div class="jobs_container__desc">
                Developed and maintained JavaEE/Spring-based backend using JPA/Hibernate with Oracle DB. Followed SCRUM methodology for agile development.
            </div>
        </div>
        <div class="jobs__jobs_container">
            <div class="jobs_container__title_logo">
                <Picture src={junta_andalucia} alt="European Comission" class="title_logo__logo" />
                <div class="title_logo__title">ANDALUSIAN GOVERNMENT</div>
            </div>
            <div class="jobs_container__desc">
                IT Teacher. Teaching Spring Boot, Laravel, Java, Kotlin, NodeJS, etc.<br>
                Coordinated the school’s IT department and entrepreneurship program, gaining strong leadership and organizational skills.
            </div>
        </div>
    </div>
</div>
<div class="experience__exp_edu">
    <div class="exp_edu__title">EDUCATION</div>
    <div class="exp_edu__edu">
        <div class="edu__edu_container">
            <div class="edu_container__title_logo">
                <Picture src={ual} alt="University of Almería" class="title_logo__logo" />
                <div class="title_logo__title">UNIVERSITY OF ALMERÍA</div>
            </div>
            <div class="edu_container__desc">
                Bachelor Degree on Computer Sciences
            </div>
        </div>
        <div class="edu__edu_container">
            <div class="edu_container__title_logo">
                <Picture src={ugr} alt="University of Granada" class="title_logo__logo" />
                <div class="title_logo__title">UNIVERSITY OF GRANADA</div>
            </div>
            <div class="edu_container__desc">
                Master's degree on whatever whatever
            </div>
        </div>
    </div>
</div>
