---
import { Picture } from "astro:assets";
import plus from "../../assets/images/other/plus.svg";
import minus from "../../assets/images/other/minus.svg";
import java from "../../assets/images/techs/java.svg";
import kotlin from "../../assets/images/techs/kotlin.svg";
import spring from "../../assets/images/techs/spring.svg";
import js from "../../assets/images/techs/javascript.svg";
import nodejs from "../../assets/images/techs/nodejs.svg";
import html5 from "../../assets/images/techs/html5.svg";
import css3 from "../../assets/images/techs/css3.svg";
import sass from "../../assets/images/techs/sass.svg";
import astro from "../../assets/images/techs/astro.svg";
import python from "../../assets/images/techs/python.svg";
import mongodb from "../../assets/images/techs/mongodb.svg";
import mysql from "../../assets/images/techs/mysql.svg";
import laravel from "../../assets/images/techs/laravel.svg";
import php from "../../assets/images/techs/php.svg";
import git from "../../assets/images/techs/git.svg";
import ubuntu from "../../assets/images/techs/ubuntu.svg";

/*
Tengo que cambiar los logos del + y del -
Idea de poner un texto en vertical "expertise + y -" para poder cambiar el color del texto.


Voy a quitar el expertise bar. Al final no me deja suficiente espacio para poner los
logos de las tecnologías.

Probar a poner todos los logos que pueda y ver si al final puedo dejar el expertise bar
o no.
De más a menos:
Spring -
JavaScript -
HTML -
CSS -
SASS -
Astro -
Express.js X
NodeJS - 
MongoDB -
MySQL -
Mongoose X
Laravel -
PHP -

Python -
IntelliJ
Github
Git -

Ubuntu -


IDEA!!!!
Cada caja redirige, dentro de la misma página, a la zona donde se desarrolla dicha sección.

*/
---

<div class="techs__title">TECHS</div>
<div class="techs__info">
    <!-- CREO QUE VOY A QUITAR EL EXPERTISE BAR. AL FINAL  -->
    <div class="info__expertise_bar"></div>
    <div class="info__techs_info">
        <div class="techs_info__icon_and_tag">
            <Picture src={java} alt="Java" class="techs_info__icon" id="icon-java"/>
            <span class="techs_info__tag"><strong>JAVA</strong><br>Level of expertise: High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={kotlin} alt="Kotlin" class="techs_info__icon" id="icon-kotlin"/>
            <span class="techs_info__tag"><strong>Kotlin</strong><br>Level of expertise: High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={spring} alt="Spring" class="techs_info__icon" id="icon-spring"/>
            <span class="techs_info__tag"><strong>Spring Framework</strong><br>Level of expertise: High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={nodejs} alt="NodeJS" class="techs_info__icon" id="icon-node"/>
            <span class="techs_info__tag"><strong>NodeJS</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={js} alt="JavaScript" class="techs_info__icon" id="icon-js"/>
            <span class="techs_info__tag"><strong>JavaScript</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={html5} alt="HTML5" class="techs_info__icon" id="icon-html"/>
            <span class="techs_info__tag"><strong>HTML</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={css3} alt="CSS3" class="techs_info__icon" id="icon-css"/>
            <span class="techs_info__tag"><strong>CSS</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={sass} alt="SASS" class="techs_info__icon" id="icon-sass"/>
            <span class="techs_info__tag"><strong>SASS</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={laravel} alt="Laravel" class="techs_info__icon" id="icon-laravel"/>
            <span class="techs_info__tag"><strong>Laravel Framework</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={mongodb} alt="MongoDB" class="techs_info__icon" id="icon-mongodb"/>
            <span class="techs_info__tag"><strong>MongoDB</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={mysql} alt="MySQL" class="techs_info__icon" id="icon-mysql"/>
            <span class="techs_info__tag"><strong>MySQL</strong><br>Level of expertise: Medium/High</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={astro} alt="Astro" class="techs_info__icon" id="icon-astro"/>
            <span class="techs_info__tag"><strong>Astro</strong><br>Level of expertise: Medium</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={python} alt="Python" class="techs_info__icon" id="icon-python"/>
            <span class="techs_info__tag"><strong>Python</strong><br>Level of expertise: Medium/Low</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={php} alt="PHP" class="techs_info__icon" id="icon-php"/>
            <span class="techs_info__tag"><strong>PHP</strong><br>Level of expertise: Medium</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={git} alt="Git" class="techs_info__icon" id="icon-git"/>
            <span class="techs_info__tag"><strong>Git</strong><br>Level of expertise: Medium</span>
        </div>
        <div class="techs_info__icon_and_tag">
            <Picture src={ubuntu} alt="Ubuntu" class="techs_info__icon" id="icon-ubuntu"/>
            <span class="techs_info__tag"><strong>Ubuntu</strong><br>Level of expertise: Medium</span>
        </div>
        <span class="techs__and_more">...and more</span>
    </div>
</div>
